body {
  /* font-family: 'Roboto Condensed', sans-serif; */
  padding-top: 54px;
}

input[type="text"], input[type="search"], input[type="password"], textarea, .form-control {
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}

.bootstrap-select .btn:focus {
    outline: none !important;
}

.minim {
  min-height: 600px;
}

/* borderless table */
.table.table-borderless td, .table.table-borderless th {
    border: 0 !important;
}

.table.table-borderless {
    margin-bottom: 0px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
